* {
    margin: 0;
    font-family:Arial;
    border: border-box;
}
.nevbar {
    height:60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center ;
    justify-content: space-evenly;
}
.logo {
    background-image: url(./image/amazon_logo.png);
    height: 50px;
    background-size: cover;
    width: 100px;
}
.nav-logo {
    height: 50px;
    width: 100px;
}
.border {
    border: 2px solid transparent;
}
.border:hover {
    border:2px solid white
}
/* box3 */
.add-first {
    color: #cccccc;
    font-size: 1rem;
    margin-left: 15px;
}
.add-icon {
    display: flex;
    align-items: center;
}
.add-sceond {
    display: flex;
    margin-left: 3px;
}
.nav-search {
    display: flex;
    width: 620px;
    height: 40px;
    border-radius: 5px;
    justify-content: space-evenly;
}
.nav-search:hover {
    border: 2px solid orange;
}
.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-select {
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-radius: 5px 0px 0px  5px;
    border: none;

}
.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: rgb(245, 163, 12);
    border-radius: 0px 5px 5px  0px;
    color: black;
}
span {
    font-size: 0.7em;
    font-weight: 700;
}
.nab-cart i {
    font-size: 30px;
}
.nav-cart {
    font-size: 0.rem;
    font-weight: 700;
}
/* pannel */
.panel {
    height: 40px;
    background-color: #232f3e;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-option p {
    display: inline;
    margin-left: 50px;
}
.panel-option {
    width: 70%;
    font-size: 0.85rem;
    position: absolute;
    left: 50px;
}
.panel-deals {
    font-size: 0.9rem;
    position: absolute;
    right: 30px;
}
.panel-all {
    position: absolute;
    left: 20px;
}
.hero-section {
    background-image: url(./image/hero_image.jpg);
    height: 600px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-msg {
    background-color: white;
    font-size: 0.85rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 80%;
    margin-bottom: 25px;
}
.hero-msg a {
    color: #007185;
    text-decoration: none;
}
/* shop section */

.shop-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly ;
    background-color: #e2e7e6;

}

.box {
     border: none;
     height: 400px;
     width: 23%;
     background-color: white;
     padding: 20px 0px 15px;
     margin-top: 15px;
}
.box-img {
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-container {
    margin-left:1rem;
    margin-right:1rem
}
.box-container p {
    color: #007185;
}